* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

}

.body {
  width: 100vw;
  height: 100vh;
}


main{
  margin: 16px;
  max-width: 100%;
}

.nav-bar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-btn {
  border: none;
  width: 8.75em;
  height: 3em;
  background-color: #13183f;
  color: #ffffff;
  border-radius: 1.75em;
  cursor: pointer;
}


.nav-btn:hover {
  background-color: hsla(234, 25%, 52%, 1);
}

.main-section {
  margin-top: 45px;
}

.h1 {
  font-size: 40px;
  font-weight: 800;
  color: 13183F;
}

.main-paragraph {
  font-size: 1rem;
  font-weight: 500;
  color: #83869a;
  margin-top: 26px;
}

.get-started-btn {
  margin-top: 24px;
  border: none;
  width: 10.4em;
  height: 3.5em;
  background-image: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
  border-radius: 2em;
  color: #ffffff;
  font-size: 0.9em;
}
.get-started-btn:hover {
  opacity: 50%;
  cursor: pointer;
}

.avatar {
  display: flex;
  justify-content: center;
  max-width: 100%; 
  overflow-x: hidden;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-1 {
  height: 120px;
  width: 343px;
  background-image: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
  border-radius: 10px;
}

.paragraph-1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  padding: 28px;
}


.container h3 {
  color: #13183f;
  font-size: 1.25rem;
  font-weight: 800;
  padding-bottom: 20px;
}

.container p {
  font-size: 1rem;
  font-weight: 500;
  color: #83869a;
  margin-bottom: 1.5em;
}

.container a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #f74780;
  text-decoration: none;
  /* display: inline-block; */
}

.container a:hover {
  cursor: pointer;
  color: #ffa7c3;
}



.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  width: 343px;
  height: 259px;
  background-color: white;
  padding: 1em;
  margin-top: 3em;
  margin-top: 40px;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.icon {
  margin-top: -55px;
  margin-bottom: 20px;
}


.nav-bar-footer {
  max-width: 100%;
  height: 7.5em;
  background-color: #13183f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



.logo-footer{
  margin-left: 16px;
}

.nav-btn-footer {
  border: none;
  width: 8.75em;
  height: 3em;
  color: #ffffff;
  border-radius: 1.75em;
  cursor: pointer;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
  margin-right: 16px;
}

.nav-bar-footer .nav-btn:hover {
  color: #ffffff;
  opacity: 70%;
}

.nav-btn-footer{
justify-content: flex-end;
}

.main-avatar,
.avatar-for-desktop{
  display: none;
}


@media screen and (min-width: 768px) {

  .avatar-for-desktop,
  .avatar {
    display: none;
  }

  .main-avatar{
    display: block;
  }

  .logo svg{
    margin-left: 16px;
  }
  main{
    margin-left: 40px;
  }

  .tablet-row-design {
    display: flex;
  }

  .main-section {
    max-width: 40%;
    margin-left: 16px;
    margin-top: 100px;

  }

  .main-avatar {
    position: absolute;
    top: -100px;
    height: 100%;
    max-width: 56%; 
    z-index: -1;
    overflow-x: hidden;
  }

 
  /* .container {
    width: 100%;
    margin-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  } */
/* 
 

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    justify-content: space-around;
    margin-right: 30px;
  } */

.container{
  margin-top: 180px;
  display: grid;
  grid-template-columns: 350px 350px;
  gap: 11px;
  margin-bottom: 86px;
}

.card-1 {
  margin-top: 40px;
  width: 343px;
  height: 259px;
  text-align: center;
}

.paragraph-1{
  margin: 10% auto;
  font-size: 24px;
}


}

@media(min-width: 1080px){


  .container{
    margin-top: 180px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 5px;
    margin-bottom: 86px;
    justify-content: center;
  }

}


@media(min-width: 1440px){

  .main-avatar{
    display: none;
  }

  .avatar-for-desktop{
    display: block;
  }

  .avatar-for-desktop{
    position: absolute;
    top: -100px;
    height: auto;
    max-width: 60%; 
    padding-left: 90px;
    z-index: -1;
    overflow-x: hidden;

  }

  .main-section{
    margin-top: 200px;

    margin-left: 100px;
  }

  .container{
    margin-top: 350px;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .nav-bar{
    margin-left: 170px;
    margin-right: 150px;;

  }

  .main-section{
    margin-left: 190px;
    margin-right: 0;
    width: 40%;
  }

  .tablet-row-design{
    width: 80%;
  }
  
}



